$_main_color: #242424;
$_main_bg_color: rgba(255, 255, 255, 0.87);
$_header_color: #747bff;
$_header_accent_color: rgb(185, 76, 248);

$font-title: 'Shantell Sans', sans-serif;
$font-main: 'Comme', sans-serif;
$font-footer: 'Lora', serif;

$title-font-size-desktop: 66px;
$title-font-size-mobile: 32px;
$title-line-height-desktop: 72px;
$title-line-height-mobile: 38px;

$text-font-size-desktop: 22px;
$text-font-size-mobile: 16px;
$text-line-height-desktop: 28px;
$text-line-height-mobile: 20px;

$footer-font-size-desktop: 20px;
$footer-font-size-mobile: 16px;
$footer-line-height-desktop: 100%;
$footer-line-height-mobile: 20px;

$hero-title-font-size-desktop: 96px;
$hero-title-font-size-mobile: 40px;
$hero-line-height-desktop: 102px;
$hero-line-height-mobile: 48px;
