<section id="about" class="container-about">
  <img src="./img/Ellipse.jpg" alt="Earth" class="image-about" />
  <div class="main-about">
    <h3 class="about-title">About the Game</h3>
    <p class="about-text">
      Peace Match: Triple Tile takes the classic tile-matching puzzle to new
      heights with a calming and visually stunning experience. Immerse yourself
      in a world of soothing landscapes and let your mind relax as you
      strategically match three identical tiles to clear the board. With a blend
      of traditional puzzle mechanics and modern design elements, Peace Match
      offers an engaging and stress-free gaming journey where every match brings
      a sense of achievement and tranquility.
    </p>
  </div>
</section>
