<section id="faq" class="section-faq">
  <div class="faq-container">
    <div class="accordion-container">
      <h3 class="title-faq">FAQ</h3>
      <div class="ac">
        <h4 class="ac-header">
          <button type="button" class="ac-trigger">
            Is Peace Match free <br />
            to play?
          </button>
        </h4>
        <div class="ac-panel">
          <p class="ac-text">
            Yes! The game is
            <span class="bold-text">free to download and play,</span> with
            optional in-app purchaces.
          </p>
        </div>
      </div>

      <div class="ac">
        <h4 class="ac-header">
          <button type="button" class="ac-trigger">Can I play offline?</button>
        </h4>
        <div class="ac-panel">
          <p class="ac-text">
            Yes!
            <span class="bold-text"
              >Enjoy puzzle-solving anytime, anywhere
            </span>
            without an internet connection.
          </p>
        </div>
      </div>

      <div class="ac">
        <h4 class="ac-header">
          <button type="button" class="ac-trigger">
            Are there different themes available?
          </button>
        </h4>
        <div class="ac-panel">
          <p class="ac-text">
            Absolutely! Customize your game with
            <span class="bold-text">beautiful backgrounds and themes.</span>
          </p>
        </div>
      </div>
      <div class="ac">
        <h4 class="ac-header">
          <button type="button" class="ac-trigger">
            How do I unlock <br />
            power-ups?
          </button>
        </h4>
        <div class="ac-panel">
          <p class="ac-text">
            Earn power-ups by
            <span class="bold-text"
              >completing levels and participating in events.</span
            >
          </p>
        </div>
      </div>
      <div class="ac">
        <h4 class="ac-header">
          <button type="button" class="ac-trigger">
            Will there be <br />
            updates?
          </button>
        </h4>
        <div class="ac-panel">
          <p class="ac-text">
            Yes!
            <span class="bold-text"
              >New levels, features, and seasonal events are added
              regularly.</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
