<section id="features">
  <div class="container-features">
    <div class="container-title">
      <h3 class="features-title">Main Gameplay Features</h3>
    </div>

    <div class="conteiner-img">
      <div class="features-block left">
        <p class="feature-text">
          💚 Triple Tile Matching &ndash;<br />
          Match three identical tiles to clear the board and progress through
          levels.
        </p>
      </div>
      <img src="../img/left.png" alt="arrow" width="76" class="img-left" />
    </div>
    <div class="conteiner-img">
      <div class="features-block right">
        <p class="feature-text">
          🌱 Relaxing Atmosphere &ndash;<br />
          Enjoy calming visuals and soothing background music
        </p>
      </div>
      <img src="../img/right.png" alt="arrow" width="76" class="img-right" />
    </div>
    <div class="conteiner-img">
      <div class="features-block left">
        <p class="feature-text left">
          🔄 Challenging Levels &ndash;<br />
          Each level introduces new puzzles and unique challenges.
        </p>
      </div>
      <img src="../img/left.png" alt="arrow" width="76" class="img-left" />
    </div>
    <div class="conteiner-img">
      <div class="features-block right">
        <p class="feature-text">
          🎉 Daily Rewards & Eventsbr &ndash;<br />
          Unlock exciting prizes and participate in time-limited challenges.
        </p>
      </div>
      <img src="../img/right.png" alt="arrow" width="76" class="img-right" />
    </div>
    <div class="conteiner-img">
      <div class="features-block left">
        <p class="feature-text">
          🔎 Boosters & Power-ups &ndash;<br />
          Use helpful tools to solve tricky puzzles with ease.
        </p>
      </div>
      <img src="../img/left.png" alt="arrow" width="76" class="img-left" />
    </div>
    <div class="conteiner-img">
      <div class="features-block right">
        <p class="feature-text">
          🛠️ Customizable Themes &ndash;<br />
          Choose from beautiful themes to personalize your experience.
        </p>
      </div>
      <img src="../img/right.png" alt="arrow" width="76" class="img-right" />
    </div>
    <div class="conteiner-img">
      <div class="features-block left">
        <p class="feature-text">
          🏆 Leaderboard & Achievements &ndash;<br />
          Track your progress and compete with friends.
        </p>
      </div>
    </div>
  </div>
</section>
