<section id="gallery" class="gallery">
  <h2 class="gallery-title">Gallery</h2>
  <div class="gallery-slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            srcset="./img/gallery/image3@2x.png 2x, ./img/gallery/image3.png 1x"
            media="(max-width: 320px)"
          />
          <source
            srcset="
              ./img/gallery/image3-d@2x.png 2x,
              ./img/gallery/image3-d.png    1x
            "
            media="(min-width: 1200px)"
          />
          <img src="./img/gallery/image3.png" alt="Gallery Image 1" />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            srcset="./img/gallery/image4@2x.png 2x, ./img/gallery/image4.png 1x"
            media="(max-width: 320px)"
          />
          <source
            srcset="
              ./img/gallery/image4-d@2x.png 2x,
              ./img/gallery/image4-d.png    1x
            "
            media="(min-width: 1200px)"
          />
          <img src="./img/gallery/image4.png" alt="Gallery Image 2" />
        </picture>
      </div>

      <div class="swiper-slide">
        <picture>
          <source
            srcset="./img/gallery/image5@2x.png 2x, ./img/gallery/image5.png 1x"
            media="(max-width: 320px)"
          />
          <source
            srcset="
              ./img/gallery/image5-d@2x.png 2x,
              ./img/gallery/image5-d.png    1x
            "
            media="(min-width: 1200px)"
          />
          <img src="./img/gallery/image5.png" alt="Gallery Image 3" />
        </picture>
      </div>
    </div>

    <div class="gallery-pagination"></div>
  </div>
</section>
