<header class="header">

       <div><a href=""
          ><img
            src="../img/logo/logo@1x.png"
            alt="logo"
            srcset="../img/logo/logo@2x.png 2x"
            class="logo-header"
        /></a></div>
        <nav class="header-nav">
        <ul class="nav">
          <li class="nav-link"><a href="#about">About the game</a></li>
          <li class="nav-link"><a href="#features">Benefits</a></li>
          <li class="nav-link"><a href="#reviews">Reviews</a></li>
          <li class="nav-link"><a href="#how-to-play">How to Play</a></li>
          <li class="nav-link"><a href="#faq">FAQ</a></li>
          <li class="nav-link"><a href="#advantages">Advantages</a></li>
          <li class="nav-link"><a href="#gallery">Gallery</a></li>
        </ul>
        <button type="button" class="hamburger-menu"
          ><img src="../img/Burger-menu.png" width="36" alt="Burger menu"
        /></button>
      </div>
    </div>
  </nav>
</header>
<!-- Mobile menu -->
<div class="mobile-menu-wraper">
  <div class="container-mobile">
    <header class="header mobile-header">
      <div>
        <a
          href="https://play.google.com/store/apps/details?id=mansion.blast"
          class="logo logo-mobile"
        >
          <img src="./img/logo.png" alt="logo" class="logo-header" width="44" />
          <span class="header-name">Mansion Blast</span></a
        >
      </div>

    </header>
    <nav class="mobile-nav">
      <ul class="mobile-menu-nav">
        <li>
          <a href="#hero" class="mobile-menu-item"
            >Home

          </a>
        </li>
        <li>
          <a href="#gallery" class="mobile-menu-item"
            >Gallery

          </a>
        </li>
        <li>
          <a href="#about-us" class="mobile-menu-item"
            >About Us

          </a>
        </li>
        <li>
          <a href="#benefits" class="mobile-menu-item"
            >Benefits
            <svg class="icon-to-right">
              <use href="./img/sprite.svg#icon-Back-button"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#reviews" class="mobile-menu-item"
            >Reviews
            <svg class="icon-to-right">
              <use href="./img/sprite.svg#icon-Back-button"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#faq" class="mobile-menu-item"
            >FAQ
            <svg class="icon-to-right">
              <use href="./img/sprite.svg#icon-Back-button"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <footer class="mobile-footer">
      <div class="footer-container-mob container-mob">
        <ul class="footer-terms-list-mob">
          <li class="footer-terms-item-mob">
            <a href="./privacy-policy.html" class="footer-link-mob">
              Privacy Policy
            </a>
          </li>
          <li class="footer-terms-item-mob">
            <a href="./terms&conditions.html" class="footer-link-mob"
              >Terms and Conditions</a
            >
          </li>
        </ul>
        <p class="footer-text-mob">
          <span>All rights reserved </span
          ><br class="mobile-only-mob" />luckyquestgamehub.com | 2024
        </p>
      </div>
    </footer>
  </div>
</div>
