<header class="header">
  <nav>
    <ul class="nav">
      <li class="nav-link"><a href="#about">About the game</a></li>
      <li class="nav-link"><a href="#features">Benefits</a></li>
      <li class="nav-link"><a href="#reviews">Reviews</a></li>
      <li class="nav-link"><a href="#how-to-play">How to Play</a></li>
      <li class="nav-link"><a href="#faq">FAQ</a></li>
      <li class="nav-link"><a href="#advantages">Advantages</a></li>
      <li class="nav-link"><a href="#gallery">Gallery</a></li>
    </ul>
  </nav>
</header>
