<section id="how-to-play" class="how-to-play">
  <h2 class="how-to-play-title">How to Play</h2>
  <div class="swiper-container how-to-play-swiper">
    <div class="swiper-wrapper">
      <div class="how-to-play-item swiper-slide">
        <div class="how-to-play-icon">
          <picture>
            <source
              srcset="
                ./img/how-to-play/Ellipse11@2x.png 2x,
                ./img/how-to-play/Ellipse11.png    1x
              "
              type="image/png"
            />
            <img src="./img/how-to-play/Ellipse11.png" alt="Tap and Match" />
          </picture>
        </div>
        <div class="how-to-play-text">
          <p>
            <span>Tap & Match</span> - Find and select
            <span>three identical tiles</span> to remove them from the board.
          </p>
        </div>
      </div>
      <div class="how-to-play-item swiper-slide">
        <div class="how-to-play-icon">
          <picture>
            <source
              srcset="
                ./img/how-to-play/Ellipse12@2x.png 2x,
                ./img/how-to-play/Ellipse12.png    1x
              "
              type="image/png"
            />
            <img
              src="./img/how-to-play/Ellipse12.png"
              alt="Strategize Your Moves"
            />
          </picture>
        </div>
        <div class="how-to-play-text">
          <p>
            <span>Strategize Your Moves</span> - Plan your matches carefully to
            clear levels efficiently.
          </p>
        </div>
      </div>
      <div class="how-to-play-item swiper-slide">
        <div class="how-to-play-icon">
          <picture>
            <source
              srcset="
                ./img/how-to-play/Ellipse13@2x.png 2x,
                ./img/how-to-play/Ellipse13.png    1x
              "
              type="image/png"
            />
            <img src="./img/how-to-play/Ellipse13.png" alt="Use Boosters" />
          </picture>
        </div>
        <div class="how-to-play-text">
          <p>
            <span>Use Boosters</span> - Stuck? Use
            <span>power-ups like shuffles and hints</span> to continue playing.
          </p>
        </div>
      </div>
      <div class="how-to-play-item swiper-slide">
        <div class="how-to-play-icon">
          <picture>
            <source
              srcset="
                ./img/how-to-play/Ellipse14@2x.png 2x,
                ./img/how-to-play/Ellipse14.png    1x
              "
              type="image/png"
            />
            <img
              src="./img/how-to-play/Ellipse14.png"
              alt="Advance through levels"
            />
          </picture>
        </div>
        <div class="how-to-play-text">
          <p>
            <span>Advance Through Levels</span> - Conquer
            <span>challenging puzzles</span> and unlock new stages.
          </p>
        </div>
      </div>
      <div class="how-to-play-item swiper-slide">
        <div class="how-to-play-icon">
          <picture>
            <source
              srcset="
                ./img/how-to-play/Ellipse15@2x.png 2x,
                ./img/how-to-play/Ellipse15.png    1x
              "
              type="image/png"
            />
            <img
              src="./img/how-to-play/Ellipse15.png"
              alt="Compete & Achieve"
            />
          </picture>
        </div>
        <div class="how-to-play-text">
          <p>
            <span>Compete & Achieve</span> - Track your progress, earn
            <span>stars</span>, and climb leaderboards.
          </p>
        </div>
      </div>
      <div class="how-to-play-item swiper-slide">
        <div class="how-to-play-icon">
          <picture>
            <source
              srcset="
                ./img/how-to-play/Ellipse16@2x.png 2x,
                ./img/how-to-play/Ellipse16.png    1x
              "
              type="image/png"
            />
            <img
              src="./img/how-to-play/Ellipse16.png"
              alt="Enjoy Daily Challenges"
            />
          </picture>
        </div>
        <div class="how-to-play-text">
          <p>
            <span>Enjoy Daily Challenges</span> - Complete special missions for
            <span>exclusive rewards.</span>
          </p>
        </div>
      </div>
    </div>
    <div class="how-to-play-pagination"></div>
  </div>
</section>
