.header {
  padding: 20px 0;
  max-width: 1200px;
  max-height: 93px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #44357f;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
}
.logo-header {
  width: 40px;
  @include media(desktop) {
    width: 60px;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 70px;
  @include media(to-desktop) {
    display: none;
  }
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @include media(tablet) {
    justify-content: flex-start;
  }

  @include media(desktop) {
    justify-content: flex-end;
  }
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #6a59ae;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 13px;
}

.nav-link:hover,
.nav-link:focus {
  color: $_header_accent_color;
}

.hamburger-menu {
  display: none;

  @include media(to-desktop) {
    display: block;
  }
}
.heder-nav {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
