.header-privacy {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  font-size: 16px;
  @include media(desktop) {
    max-width: 1200px;
    height: 100%;
    gap: 40px;
    font-size: 22px;
  }
}
.privacy-container {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  @include media(desktop) {
    width: 1080px;
    height: 100%;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
.p-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.privacy-list {
  list-style-type: disc;
  padding-left: 40px;
  padding-top: 0;
}
.icon {
  width: 34px;
  @include media(desktop) {
    width: 50px;
  }
}
