@import './common/mixins';
@import './header.scss';
@import './hero.scss';
@import './vite-promo.scss';
@import './privacy-policy.scss';
@import './terms&conditions.scss';
@import './footer.scss';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #fff;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.5),
      rgba(46, 47, 66, 0.5)
    ),
    url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top right, center;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
// Reusable classes
html,
h3 {
  font-family: $font-title;
  font-weight: 600;
  font-size: $title-font-size-desktop;
  line-height: $title-line-height-desktop;
  letter-spacing: 0%;

  @media (max-width: 768px) {
    font-size: $title-font-size-mobile;
    line-height: $title-line-height-mobile;
  }
}

p {
  font-family: $font-main;
  font-weight: 300;
  font-size: $text-font-size-desktop;
  line-height: $text-line-height-desktop;
  letter-spacing: 0%;

  @media (max-width: 768px) {
    font-size: $text-font-size-mobile;
    line-height: $text-line-height-mobile;
  }
}
ul {
  font-family: $font-main;
  font-weight: 300;
  font-size: $text-font-size-desktop;
  line-height: $text-line-height-desktop;
  letter-spacing: 0%;

  @media (max-width: 768px) {
    font-size: $text-font-size-mobile;
    line-height: $text-line-height-mobile;
  }
}
a {
  font-family: $font-main;
  font-weight: 300;
  font-size: $text-font-size-desktop;
  line-height: $text-line-height-desktop;
  letter-spacing: 0%;

  @media (max-width: 768px) {
    font-size: $text-font-size-mobile;
    line-height: $text-line-height-mobile;
  }
}
a:hover,
a:focus {
  color: $_header_accent_color;
}
.footer {
  font-family: $font-footer;
  font-weight: 500;
  font-size: $footer-font-size-desktop;
  line-height: $footer-line-height-desktop;
  letter-spacing: 0%;
  text-align: center;

  @media (max-width: 768px) {
    font-size: $footer-font-size-mobile;
    line-height: $footer-line-height-mobile;
  }
}
